doctype html
html
    head
        title Blocked Site
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/firewalla_static/assets/css/main.css')
    body
        // Wrapper
        #wrapper.divided
            // One
            section.spotlight.style1.orient-left.content-align-left.image-position-right.fullscreen.onload-image-fade-in.onload-content-fade-right
                .content
                    header
                        h1 
                            | Blocked Site 
                            span.icon.fa-ban(style='color: lightgray')
                        p.major
                            | This domain is 
                            span(style='color:darkred') blocked
                            |  by Firewalla.
                    p.small
                        | Firewalla is protecting you from #{hostname}. You can manage your blocked list in Firewalla App.
                    ul.actions.vertical
                        li
                            a.button.medium.wide.smooth-scroll-middle(href='https://firewalla.com') Visit Our Site 
                                
                .spotlight.style2.major
                    img(src='/firewalla_static/images/firewallas.png', alt='firewalla icon')
            // Footer
            footer.wrapper.style1.align-center
                .inner
                    ul.icons
                        li
                            a.icon.style2.fa-home(href='https://firewalla.com')
                                span.label Home
                        li
                            a.icon.style2.fa-twitter(href='https://twitter.com/BravaFirewalla')
                                span.label Twitter
                        li
                            a.icon.style2.fa-facebook(href='https://www.facebook.com/firewalla/')
                                span.label Facebook
                        li
                            a.icon.style2.fa-youtube(href='https://www.youtube.com/channel/UCEGJ2oKZ2dhYdDuWkcGasjg')
                                span.label Instagram
                        li
                            a.icon.style2.fa-linkedin(href='https://www.linkedin.com/company-beta/12902972/')
                                span.label LinkedIn
                        li
                            a.icon.style2.fa-envelope(href='mailto:help@firewalla.com')
                                span.label Email
        // Scripts
        script(src='/firewalla_static/assets/js/jquery.min.js')
        script(src='/firewalla_static/assets/js/jquery.scrollex.min.js')
        script(src='/firewalla_static/assets/js/jquery.scrolly.min.js')
        script(src='/firewalla_static/assets/js/skel.min.js')
        script(src='/firewalla_static/assets/js/util.js')
        script(src='/firewalla_static/assets/js/main.js')
