<!DOCTYPE html>
<html>
<head><title>Blocked Site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/firewalla_static/assets/css/main.css">
</head>
<body>
<!-- Wrapper-->
<div class="divided" id="wrapper">
    <section
            class="spotlight style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
        <div class="content">
            <header>
                <h1> Blocked Site <span class="icon fa-ban" style="color: lightgray;"></span></h1>
                <p class="major">This domain is <span style="color:darkred;">blocked</span> by Firewalla.</p>
            </header>
            <p class="small">Firewalla is protecting you from {{hostname}}. You can manage your blocked list in Firewalla
                App.</p>
            <p>
                <i style="color: darkgray"> Firewalla has prevented {{count}} inappropriate web content visits.</i>
            </p>
            <ul class="actions vertical">
                <li>
                    <a class="button medium wide smooth-scroll-middle" href="https://firewalla.com">Visit Our Site </a>
                </li>
            </ul>
        </div>
        <div class="spotlight style2 major">
            <img src="/firewalla_static/images/firewallas.png" alt="firewalla icon">
        </div>
    </section>
    
    <!-- Footer-->
    <footer class="wrapper style1 align-center">
        <div class="inner">
            <ul class="icons">
                <li>
                    <a class="icon style2 fa-home" href="https://firewalla.com"><span class="label">Home</span></a>
                </li>
                <li>
                    <a class="icon style2 fa-twitter" href="https://twitter.com/BravaFirewalla">
                        <span class="label">Twitter</span>
                    </a>
                </li>
                <li>
                    <a class="icon style2 fa-facebook" href="https://www.facebook.com/firewalla/">
                        <span class="label">Facebook</span>
                    </a>
                </li>
                <li>
                    <a class="icon style2 fa-youtube" href="https://www.youtube.com/channel/UCEGJ2oKZ2dhYdDuWkcGasjg">
                        <span class="label">Instagram</span>
                    </a>
                </li>
                <li>
                    <a class="icon style2 fa-linkedin" href="https://www.linkedin.com/company-beta/12902972/">
                        <span class="label">LinkedIn</span>
                    </a>
                </li>
                <li>
                    <a class="icon style2 fa-envelope" href="mailto:help@firewalla.com"><span class="label">Email</span></a>
                </li>
            </ul>
        </div>
    </footer>
</div><!-- Scripts-->
<script src="/firewalla_static/assets/js/jquery.min.js"></script>
<script src="/firewalla_static/assets/js/jquery.scrollex.min.js"></script>
<script src="/firewalla_static/assets/js/jquery.scrolly.min.js"></script>
<script src="/firewalla_static/assets/js/skel.min.js"></script>
<script src="/firewalla_static/assets/js/util.js"></script>
<script src="/firewalla_static/assets/js/main.js"></script>
</body>
</html>