[Unit]
Description=Firewalla OpenVPN Client Service using profile %i
After=network.target

[Service]
Restart=always
ExecStart=/home/pi/firewalla/extension/vpnclient/service_start.sh %i

[Install]
WantedBy=multi-user.target

