[Unit]
Description=Firewalla BitBridge4
After=network.target

[Service]
User=pi
Restart=on-failure
RestartSec=5
WorkingDirectory=/home/pi/firewalla/bin
ExecStart=/bin/bash /home/pi/firewalla/bin/bitbridge4.sh

[Install]
WantedBy=multi-user.target
