[Unit]
Description=Firewalla DeviceMASQ
After=network.target
StartLimitInterval=40
StartLimitBurst=5

[Service]
User=root
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/home/pi/firewalla/
ExecStart=/bin/bash /home/pi/firewalla/extension/devicemasq/devicemasq.sh
ExecReload=/usr/bin/pkill -HUP devicemasq

[Install]
WantedBy=multi-user.target
