[Unit]
Description=%i service with docker compose
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=5

WorkingDirectory=/home/pi/.firewalla/run/docker/%i
Environment=TMPDIR=/data/tmp/%i

ExecStartPre=/bin/mkdir -p $TMPDIR
# Remove old containers, images and volumes
# ExecStartPre=/usr/local/bin/docker-compose down -v
ExecStartPre=/usr/local/bin/docker-compose rm -fv
# ExecStartPre=-/bin/bash -c 'docker volume ls -qf "name=%i_" | xargs docker volume rm'
# ExecStartPre=-/bin/bash -c 'docker network ls -qf "name=%i_" | xargs docker network rm'
# ExecStartPre=-/bin/bash -c 'docker ps -aqf "name=%i_*" | xargs docker rm'

# Compose up
ExecStart=/bin/bash -c "/usr/local/bin/docker-compose pull; /usr/local/bin/docker-compose up"

# Compose down, remove containers and volumes
ExecStop=/usr/local/bin/docker-compose down -v
ExecStopPost=/bin/rm -rf $TMPDIR

[Install]
WantedBy=multi-user.target