[Unit]
Description=Firewalla DNSMASQ
After=network.target

[Service]
User=root
Type=simple
Restart=always
WorkingDirectory=/home/pi/firewalla/
ExecStart=/bin/bash /home/pi/firewalla/extension/dnsmasq/dnsmasq.sh
ExecReload=/bin/bash -c "pkill -x -HUP dnsmasq"
RestartSec=3

[Install]
WantedBy=multi-user.target
