[Unit]
Description=Firewalla DNSMASQ
After=network.target

[Service]
User=pi
Type=simple
Restart=always
WorkingDirectory=/home/pi/firewalla/
ExecStart=/bin/bash /home/pi/firewalla/extension/dnsmasq/dnsmasq.sh
ExecReload=pkill -HUP dnsmasq

[Install]
WantedBy=multi-user.target
