[Unit]
Description=Firewalla Monitor
After=network.target

[Service]
User=pi
Restart=always
WorkingDirectory=/home/pi/firewalla/monitor
ExecStart=/bin/bash -c '/home/pi/firewalla/scripts/start_service.sh FireMon 2>&1 | tee -a /home/pi/.forever/monitor.log &>/dev/null'

[Install]
WantedBy=multi-user.target
