[Unit]
Description=firewalla
After=brofish.service
Wants=brofish.service

[Service]
User=pi
Type=forking
PIDFile=/home/pi/.forever/pids/main.pid
ExecStart=/home/pi/firewalla/scripts/main-run
ExecStop=/home/pi/firewalla/scripts/main-stop
Restart=always
RestartSec=30
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
