[Unit]
Description=FireOnBoot

[Service]
User=pi
Type=oneshot
ExecStart=/home/pi/firewalla/scripts/fireonboot.sh || true

[Install]
WantedBy=multi-user.target