[Unit]
Description=Firewalla Upgrade Service
After=dhcpcd.service 
Requires=network-online.target 
Before=firewalla.service

[Service]
User=pi
#Type=forking
ExecStart=/home/pi/firewalla/scripts/fireupgrade.sh
Restart=always
RestartSec=10
TimeoutStartSec=250

[Install]
WantedBy=multi-user.target

