[Unit]
Description=Firewalla Upgrade Service
After=dhcpcd.service redis-server.service
Requires=network-online.target

[Service]
User=pi
Type=oneshot
ExecStart=/home/pi/firewalla/scripts/fireupgrade_%i.sh

[Install]
WantedBy=multi-user.target
