[Unit]
Description=Firewalla DNSMASQ
After=network.target

[Service]
User=pi
Restart=always
WorkingDirectory=/home/pi/firewalla/
ExecStart=/bin/sh -c '/home/pi/firewalla/extension/dnsmasq/dnsmasq.sh'

[Install]
WantedBy=multi-user.target
