[Unit]
Description=Firewalla API
After=network.target

[Service]
User=pi
Restart=always
WorkingDirectory=/home/pi/firewalla/api
ExecStart=/bin/sh -c '/home/pi/firewalla/bin/node --expose-gc -max-old-space-size=256 bin/www >> /home/pi/.forever/api.log  2>&1'

[Install]
WantedBy=multi-user.target
