[Unit]
Description=Firewalla Monitor
After=network.target

[Service]
User=pi
Restart=always
WorkingDirectory=/home/pi/firewalla/monitor
ExecStart=/bin/sh -c '/home/pi/firewalla/bin/node --expose-gc -max-old-space-size=256 MonitorMain.js  >> /home/pi/.forever/monitor.log  2>&1'

[Install]
WantedBy=multi-user.target
