[Unit]
Description=firewalla
After=dhcpcd.service redis.service
Requires=network-online.target redis.service
#After=brofish.service
#Wants=brofish.service

[Service]
User=pi
Type=oneshot
ExecStart=/home/pi/firewalla/scripts/main-run
ExecStop=/home/pi/firewalla/scripts/main-stop

[Install]
WantedBy=multi-user.target
