[Unit]
Description=Firewalla Main Process
After=network.target

[Service]
User=pi
Restart=always
WorkingDirectory=/home/pi/firewalla/net2
ExecStart=/bin/bash -c '/home/pi/firewalla/scripts/start_service.sh FireMain >> /home/pi/.forever/main.log  2>&1'

[Install]
WantedBy=multi-user.target
