# Example ZeekControl node configuration.
#
# This example has a standalone node ready to go except for possibly changing
# the sniffing interface.

# This is a complete standalone configuration.  Most likely you will
# only need to change the interface.
#[zeek]
#type=standalone
#host=localhost
#interface=br0

## Below is an example clustered configuration. If you use this,
## remove the [zeek] node above.

# disable logger on a single node cluster to save some memory
#[logger]
#type=logger
#host=localhost

[manager]
type=manager
host=localhost

[proxy-1]
type=proxy
host=localhost
