doctype html
html(lang="en")
    head
        title Green Safe Browsing
    body
        h1 Green Safe Browsing
            p= `Safer and Greener Internet Experience by Firewalla: ${ip} visiting ${hostname}${url}`