[Unit]
Description=BroFish
After=dhcpcd.service fireupgrade.service
Requires=network-online.target
#Before=firewalla.service

[Service]
Type=forking
ExecStart=/home/pi/firewalla/scripts/bro-run
ExecStop=/home/pi/firewalla/scripts/bro-stop
Restart=always
RestartSec=10
TimeoutStartSec=250
TimeoutStopSec=8
MemoryMax=600M

[Install]
WantedBy=multi-user.target

