{
  "service":"Firewalla Bot",
  "serviceType":"fb",
  "memberType":"direct",
  "version":1.0,
  "appId":"com.rottiesoft.pi",
  "appSecret":"4137f1d7-f28e-469e-b045-70e1d393ca4b",
  "endpoint_name":"Firewalla",
  "name":"netbot",
  "listen":"gid",
  "home":"/home/pi/encipher.iot",
  "controllers":[
   { 
       "id":"0",
       "type":"netbot",
       "name":"netbot",
       "config":"../controllers/netbot.json",
       "sensor": 
       {
           "discovery": {
             "networkInterfaces": ["eth0"]
           },
           "monitoringInterface": "eth0",
           "flow": {
              "summaryhours": 1
           },
           "bro": {
             "notice" : {
                "monitor" : {
                },
                "ignore" : {
                   "SSL::Invalid_Server_Cert":"ignore",
                   "PacketFilter::Dropped_Packets":"ignore"
                },
                "path" : "/usr/local/bro/logs/current/notice.log",
                "expires": 806400
             },
             "intel" : {
                "path": "/usr/local/bro/logs/current/intel.log",
                "expires": 566400,
                "ignore" : {
                  "none":"ignore"
                }
             },
             "dns": {
                "path": "/usr/local/bro/logs/current/dns.log",
                "expires": 86400
             },
             "software": {
                "path": "/usr/local/bro/logs/current/software.log",
                "expires": 566400
             },
             "http": {
                "path": "/usr/local/bro/logs/current/http.log",
                "expires": 86400
             },
             "ssl": {
                "path": "/usr/local/bro/logs/current/ssl.log",
                "expires": 86400
             },
             "conn": {
                "path": "/usr/local/bro/logs/current/conn.log",
                "flowstashExpires": 1800,
                "expires": 86400
             },
             "ssh": {
                "path": "/usr/local/bro/logs/current/ssh.log",
                "expires": 166400
             }
           }
       
       }
   }
  ]
}
