[Unit]
Description= FTC

[Service]
User=pi
Type=simple
Restart=on-failure
ExecStart = /bin/bash -c "while true; do /usr/local/bin/fire-temp-check.sh; sleep 60; done"

[Install]
WantedBy=multi-user.target
