{"ts":1463900930.351709,"uid":"CRjTgo3kw3Bm7pwGed","id.orig_h":"192.168.2.232","id.orig_p":55967,"id.resp_h":"17.248.128.242","id.resp_p":443,"version":"TLSv12","cipher":"TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384","curve":"secp256r1","server_name
":"p07-ckdatabase.icloud.com","resumed":false,"established":true,"cert_chain_fuids":["F1jhtN9eqendflybf","F9ZlEa4T0Efd71Glrj","F6bODe3pcYKrrEX8ua"],"client_cert_chain_fuids":[],"subject":"C=US,ST=California,O=Apple Inc.,OU=management:idms.gro
up.506364,CN=*.icloud.com","issuer":"C=US,O=Apple Inc.,OU=Certification Authority,CN=Apple IST CA 2 - G1","validation_status":"ok"}
{"ts":1463900939.21178,"uid":"C8mSWc4u0vepOf4MVk","id.orig_h":"192.168.2.206","id.orig_p":60575,"id.resp_h":"74.125.170.231","id.resp_p":443,"server_name":"r1---sn-n4v7sn76.googlevideo.com","resumed":false,"established":false}
{"ts":1463900939.21178,"uid":"CdC16P3efd9oGz3yc9","id.orig_h":"192.168.2.206","id.orig_p":60576,"id.resp_h":"74.125.170.231","id.resp_p":443,"server_name":"r1---sn-n4v7sn76.googlevideo.com","resumed":false,"established":false}
{"ts":1463901382.331765,"uid":"CIxG0i2oP71vChcG48","id.orig_h":"192.168.2.221","id.orig_p":56481,"id.resp_h":"17.248.128.182","id.resp_p":443,"version":"TLSv12","cipher":"TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384","curve":"secp256r1","server_name
":"p46-keyvalueservice.icloud.com","resumed":false,"next_protocol":"http/1.1","established":true,"cert_chain_fuids":["FKRcOP2Ad1B9nsjdek","F1zFa1R3zE6qYN2I9","FoqLBy3vVPSpa6jIK6"],"client_cert_chain_fuids":[],"subject":"C=US,ST=California,O=A
pple Inc.,OU=management:idms.group.506364,CN=*.icloud.com","issuer":"C=US,O=Apple Inc.,OU=Certification Authority,CN=Apple IST CA 2 - G1","validation_status":"ok"}
2016-05-23T04:19:30.165Z - debug: Detect:SSL {"ts":1463977168.321774,"uid":"C0A6PXhaHTMQpA122","id.orig_h":"192.168.2.221","id.orig_p":64811,"id.resp_h":"17.167.194.205","id.resp_p":443,"version":"TLSv10","cipher":"TLS_RSA_WITH_3DES_EDE_CBC_SHA","server_name":"gsp10-ssl.ls.apple.com","resumed":false,"established":true,"cert_chain_fuids":["FO0BkE1jOkoripZ5y8","FBtCmO3anow08vD0X","FnYn0B30r563Sw0ohd"],"client_cert_chain_fuids":[],"subject":"CN=*.ls.apple.com,OU=Maps Operations,O=Apple Inc.,L=Cupertino,ST=California,C=US","issuer":"CN=Symantec Class 3 Secure Server CA - G4,OU=Symantec Trust Network,O=Symantec Corporation,C=US","validation_status":"ok"}
2016-05-23T04:19:40.174Z - debug: Detect:SSL {"ts":1463977175.791266,"uid":"CJwHcs185bLUjboNZk","id.orig_h":"192.168.2.221","id.orig_p":64816,"id.resp_h":"184.169.139.187","id.resp_p":443,"version":"TLSv12","cipher":"TLS_RSA_WITH_AES_256_GCM_SHA384","server_name":"fb.rottiesoft.com","resumed":false,"established":true,"cert_chain_fuids":["FOtsir1p2rd6HKUJAi"],"client_cert_chain_fuids":[],"subject":"CN=fb.rottiesoft.com,OU=EssentialSSL,OU=Domain Control Validated","issuer":"CN=COMODO RSA Domain Validation Secure Server CA,O=COMODO CA Limited,L=Salford,ST=Greater Manchester,C=GB","validation_status":"ok"}

