[Unit]
Description=Suricata IDS
After=network.target

[Service]
Restart=always
ExecStart=/home/pi/firewalla/scripts/suricata-run
ExecReload=/home/pi/firewalla/scripts/suricata-reload
RemainAfterExit=true
RestartSec=3
MemoryMax=600M